/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.66);
}

.flex-container > div {
  background-color: #da2525c2;
  width: 200px;
  margin: 60px;
  text-align: center;
  line-height: 80px;
  font-size: 18px;
}
